[Unit]
Description=Test Service with watchdog

[Service]
Type=notify
ExecStart=/usr/bin/nodejs src/node-sd-daemon/test/test.js
WatchdogSec=10s
Restart=on-failure
TimeoutStopSec=2s
